.design {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.design__left-box {
  width: 65%;
  position: relative;
  padding: 190px 150px 190px 165px;
  z-index: 5;

  @include media-query($tablet) {
    width: 100%;
    padding: 40px;
  }

  @include media-query($small) {
    padding: 20px;
  }
}

.design__sub-heading {
   margin-bottom: 15px;

  @include media-query($tablet) {
    text-align: center;
  }
 }

.design__heading {
  margin-bottom: 45px;
  
  @include media-query($tablet) {
    font-size: 33px;
    text-align: center;
  }

  span {
    color: $primary_red;
  }
}

.design__description {
  margin-bottom: 25px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.design__right-box {
  width: 35%;
  background-color: $primary_backgraund;
  display: flex;
  align-items: flex-end;

  @include media-query($tablet) {
    display: none;
  }
}

.design__delta {
   height: 60%;
   width: 100%;
}