@font-face {
  font-family: "Arial Bold";
  src: url("../fonts/Arial-Bold.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial Regular";
  src: url("../fonts/Arial-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo Italic";
  src: url("../fonts/Exo-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo Medium";
  src: url("../fonts/Exo-Medium.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo Regular";
  src: url("../fonts/Exo-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Exo Thin";
  src: url("../fonts/Exo-Thin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/Lato-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
