/*================ Preview section ================*/

.hero {
  width: 100%;
  height: 810px;
  background-image: url(../img/mountains.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 225px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero__title {
  color: $color_text;
  font-family: "Exo Thin";
  font-size: 60px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 2.4px;
}

